
<h5>{{ event.dateRange.start}}</h5>
<h1 id="event-name">{{ event.name }}</h1>

<div class="container">
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
 <div class="carousel-inner">
   <div class="carousel-item active">
       <img src="{{event.picture}}" class="d-block w-100">
   </div>
 </div>
</div>
<h3>Details:</h3>
<p>{{{event.description}}}</p>

{{#isOwner event session}}
 <form action="/events/{{id}}/delete" method="post" class="center">
   <button type="submit" class="btn btn-danger">
     <i class="fas fa-times"></i>
     Delete Event
   </button>
 </form>
{{else}}
 <form action="/events/{{id}}/join" method="post" class="center">
   <button id="join-button" type="submit" class="btn btn-primary">Join group!</button>
 </form>

{{/isOwner}}

<h3 id="attendees">Attendees:</h3>

<div class="row">
  {{#each event.participants as |participant|}}
      <div class="col-4 mb-2 mt-2" style="display: flex; justify-content: center">
          <div class="card categories" style="width: 18rem;" data-category='{{participant.user.id}}'>
              <img src="{{participant.user.photo}}" class="card-img-top" alt="{{participant.user.id}}">
              <div class="card-body">
                  <p class="card-text" style="text-align: center">{{participant.user.name}}</p>
              </div>
          </div>
      </div>
  {{/each}}
</div>
