<div class="row">
  <div class="col-sm-8">
    <p class="event-dates">From: <span class="h6">{{ event.dateRange.start}}</span></p>
    <p class="event-dates">To: <span class="h6">{{ event.dateRange.end}}</span></p>
    <h2 id="event-name">{{ event.name }}</h2>
  </div>
  <div id="owner-container" class="col-sm-4">
    <img class="col-sm-3 rounded-circle" src="{{ owner.photo }}" alt="profile pic">
    <div>
      <h6>Owner:</h6>
      <p class="h5">{{ owner.name }}</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <img src="{{event.picture}}" class="d-block w-100">
  </div>
  <div class="col-sm-4">
    <div id="map"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <p>{{{event.description}}}</p>
  </div>
  <div class="col-sm-4">
    <h4>Attendees:</h4>
    <div>
     {{#countParticipants event.participants }}
    {{/countParticipants}}
    </div>
  </div>
</div>


{{#isOwner event session schedule }}
 <form action="/events/{{id}}/delete" method="post" class="center">
   <button type="submit" class="btn btn-danger">
     <i class="fas fa-times"></i>
     Delete Event
   </button>
 </form>
{{/isOwner}}

{{#isJoined event session schedule }}
  <form action="/events/{{id}}/join" method="post" class="center">
    <button id="join-button" type="submit" class="btn btn-primary">Leave group</button>
  </form>
{{else}}
  <form action="/events/{{id}}/join" method="post" class="center">
    <button id="join-button" type="submit" class="btn btn-primary">Join group!</button>
  </form>
{{/isJoined}}

