<h1>Event page!!</h1>
<div>{{ event.name }}</div>
<div>{{event.id}}</div>
<div>{{session.id}}</div>

{{#isOwner event session}}
  <form action="/events/{{id}}/delete" method="post" class="float-right">
    <button type="submit" class="btn btn-danger">
      <i class="fas fa-times"></i>
    </button>
  </form>
{{else}}
  <form action="/events/{{id}}/join" method="get" class="float-right">
    <button id="join-button" type="submit" class="btn btn-primary">Join group</button>
  </form>
{{/isOwner}}


