<div class="container">

    <div class="header-my-events">
        <h3>As attendant:</h3>
    </div>
    <div class="empty-events">
        {{#isEmptyOfEvents eventsAttending}}{{/isEmptyOfEvents }}
    </div>
    <div class="row flex-row">
    {{#each eventsAttending as |event|}}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-2 mt-2" style="display: flex; justify-content: center">
            <a class="link-event" href="/detail/{{event.id}}">
            <div class="card event-list {{#pastEvent event.dateRange.start}}{{/pastEvent}}" style="width: 18rem;" data-event="{{event.id}}">
                <img src="{{event.picture}}" class="card-img-top card-img-top-list" alt="{{event.name}}">
                <div class="card-body">
                    <p class="card-text" style="text-align: center">{{event.name}}</p>
                    <div class="data-container-bottom">
                      <p class="event-date">{{#dateFromNow event.dateRange.start}}{{/dateFromNow }}</p>
                    </div>
                </div>
            </div>
            </a>
        </div>
    {{/each}}
    </div>

    <div class="header-my-events">
        <h3>As owner:</h3>
    </div>
    <div class="empty-events">
        {{#isEmptyOfEvents myEvent}}{{/isEmptyOfEvents }}
    </div>
    <div class="row flex-row">
    {{#each myEvent as |event|}}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-2 mt-2" style="display: flex; justify-content: center">
            <a class="link-event" href="/detail/{{event.id}}">
            <div class="card event-list {{#pastEvent event.dateRange.start}}{{/pastEvent}}" style="width: 18rem;" data-event="{{event.id}}">
                <img src="{{event.picture}}" class="card-img-top card-img-top-list" alt="{{event.name}}">
                <div class="card-body">
                    <p class="card-text" style="text-align: center">{{event.name}}</p>
                    <div class="data-container-bottom">
                      <p class="event-date">{{#dateFromNow event.dateRange.start}}{{/dateFromNow }}</p>
                    </div>
                </div>
            </div>
            </a>
        </div>
    {{/each}}
    </div>

</div>
