<div class="container">
    <h1>Attending:</h1>
    <div class="row flex-row">
        {{#each eventsAttending as |event|}}
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-2 mt-2" style="display: flex; justify-content: center">
                <a class="link-event" href="/events/detail/{{event.id}}">
                <div class="card event-list" style="width: 18rem;" data-event="{{event.id}}">
                    <img src="{{event.picture}}" class="card-img-top" alt="{{event.name}}">
                    <div class="card-body">
                        <p class="card-text" style="text-align: center">{{event.name}}</p>
                        <p class="event-date">{{event.dateRange.start}}</p>
                    </div>
                </div>
                </a>
            </div>
        {{/each}}
    </div>

    <h1 class="margin-top">Owner:</h1>

    <div class="row flex-row">
        {{#each myEvent as |event|}}
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-2 mt-2" style="display: flex; justify-content: center">
                <a class="link-event" href="/events/detail/{{event.id}}">
                <div class="card event-list" style="width: 18rem;" data-event="{{event.id}}">
                    <img src="{{event.picture}}" class="card-img-top" alt="{{event.name}}">
                    <div class="card-body">
                        <p class="card-text" style="text-align: center">{{event.name}}</p>
                        <p class="event-date">{{event.dateRange.start}}</p>
                    </div>
                </div>
                </a>
            </div>
        {{/each}}
    </div>
</div>